<h1>Finance tracker - Powered by SQLite</h1>
<p>(In progress)</p>
<a href="https://finance-tracker-nathanael-levy.herokuapp.com/" target="_blank"><h2>Link to the project</h2></a>
<p>This is a back-end project (under construction) that uses a SQLite database to update new expenditures/savings real
    time to a bar chart and process chart. New expenditures are added with the forms: expenditure/saving/piggy bank.</p>
<a href="https://finance-tracker-nathanael-levy.herokuapp.com/" target="_blank">
  <img src="{{ url_for('static', filename='assets/img/finance_tracker_example.png') }}" alt="Image" class="img-fluid">
 </a>
